#container-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

#container-nav nav {
  padding: 20px 0;
  width: 85%;
  margin: 0 7.5%;
  border-bottom: 0.5px solid;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

#container-nav nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
}

#container-nav nav ul li {
  list-style-type: none;
  margin-left: 30px;
}

#container-nav nav ul li a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #30488f;
  border-radius: 5px;
  border: 1px solid #30488f;
}

#container-nav nav ul li a:hover {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: #30488f;
}

#container-nav nav ul li a img {
  height: 15px;
  width: 15px;
}

#container-nav nav ul li:hover {
  color: #30488F;
  cursor: pointer;
}

#section1 {
  width: 100%;
  margin: 90px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

#section1 #intro {
  width: 50%;
  padding-right: 6%;
}

#section1 #intro h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
}

#section1 #intro p {
  margin: 25px 0;
  font-size: 22px;
  line-height: 33px;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

#section1 #intro .sign-up-with a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: #30488f;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

#section1 #intro .sign-up-with a img {
  height: 15px;
  width: 15px;
}

#section1 #intro .sign-up-with a:hover {
  background-color: #233569;
}

#section1 #intro .sign-up-with span {
  color: #bdb5af;
  margin: 0 10px;
}

#section1 #intro .or-use {
  display: inline-block;
  text-decoration: none;
  margin: 20px 0;
}

#section1 #intro .or-use:hover {
  color: #30488F;
  cursor: pointer;
}

#section1 #intro .or-use:hover i {
  color: #30488F;
  cursor: pointer;
}

#section1 #img_intro {
  width: 50%;
}

#section1 #img_intro img {
  width: 100%;
}

#section2 {
  background-color: #ffe7d2;
}

#section2 #section2-1,
#section2 #section2-2 {
  width: 60%;
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
}

#section2 #section2-1 h3,
#section2 #section2-2 h3 {
  width: 75%;
  margin: 0 auto;
  font-size: 26px;
}

#section2 #section2-1 .traditional-people,
#section2 #section2-2 .traditional-people {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 70px 0;
}

#section2 #section2-1 .traditional-people div,
#section2 #section2-2 .traditional-people div {
  width: 220px;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}

#section2 #section2-1 .traditional-people div img,
#section2 #section2-2 .traditional-people div img {
  height: 120px;
  margin-bottom: 20px;
}

#section2 #section2-1 .traditional-people div p,
#section2 #section2-2 .traditional-people div p {
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

#section2 #section2-1 .rabbit,
#section2 #section2-2 .rabbit {
  width: 300px;
  margin-bottom: 30px;
}

#section2 hr {
  width: 85%;
  margin: 0 auto;
  border: 0.5px solid #58402c;
}

#section3 {
  width: 100%;
}

#section3 .section3-1 {
  width: 100%;
  margin: 90px 0;
  overflow-x: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

#section3 .section3-1 .img-lato {
  width: 60%;
}

#section3 .section3-1 .img-lato img {
  width: 110%;
}

#section3 .section3-1 .marg-sx {
  margin-left: -15%;
}

#section3 .section3-1 .marg-dx {
  margin-right: -15%;
}

#section3 .section3-1 .pd-r {
  padding-right: 12%;
  padding-left: 8%;
}

#section3 .section3-1 .pd-l {
  padding-left: 16%;
}

#section3 .section3-1 .text-lato {
  width: 48%;
  font-size: 26px;
}

#section3 .section3-1 .text-lato h3 {
  line-height: 33px;
}

#section3 .section3-1 .text-lato p {
  line-height: 33px;
  margin: 20px 0;
}

#section3 .section3-1 .text-lato a {
  color: #30488F;
  text-decoration: none;
}

#section3 .section3-1 .text-lato a i {
  color: #30488F;
}

#section3 .section3-1 .text-lato a:hover {
  cursor: pointer;
}

#section3 .section3-1 .text-lato img {
  display: block;
  margin: 20px auto;
  width: 300px;
}

#section4 {
  background-color: #ffe7d2;
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

#section4 h2 {
  font-size: 40px;
  width: 450px;
  margin: 50px auto;
}

#section4 #container-section4 {
  text-align: left;
  margin: 0 auto 20px;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  width: 600px;
  background-color: white;
  padding: 20px;
}

#section4 #container-section4 p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

#section4 #container-section4 p br {
  height: 20px 30px;
}

#section4 #container-section4 #author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#section4 #container-section4 #author img {
  width: 38px;
  margin-right: 10px;
}

#section4 #container-section4 #author div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 38px;
}

#section4 #container-section4 #author div h5 {
  color: #30488f;
  font-size: 14px;
}

#section4 #container-section4 #author div p {
  font-size: 12px;
}

#section4 .sign-up-with a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: #30488f;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

#section4 .sign-up-with a img {
  height: 15px;
  width: 15px;
}

#section4 .sign-up-with span {
  color: #bdb5af;
  margin: 0 10px;
}

#section4 .or-use {
  display: inline-block;
  text-decoration: none;
  margin: 20px 0;
}

footer {
  padding: 80px 80px 20px;
  display: -webkit-box;
  display: flex;
}

footer #footer-left {
  width: 35%;
  margin-right: 5%;
  display: -webkit-box;
  display: flex;
}

footer #footer-left img {
  width: 80px;
  align-self: flex-start;
  margin-right: 20px;
}

footer #footer-left p {
  font-size: 24px;
  line-height: 30px;
}

footer #footer-left p a {
  text-decoration: none;
  color: #30488F;
}

footer #footer-right {
  width: 60%;
  display: -webkit-box;
  display: flex;
}

footer #footer-right div {
  margin-left: 2%;
  width: 18%;
}

footer #footer-right div h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

footer #footer-right div ul {
  list-style-type: none;
  line-height: 34px;
}

footer #footer-right div ul a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HarmoniaSansProCyr-SemiBd";
  color: #58402c;
}

header {
  width: 85%;
  margin: 0 auto;
}

