
#container-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $main-bg-color;
  nav {
    padding: 15px 0;
    width: 85%;
    margin: 0 7.5%;
    border-bottom: 0.5px solid;
    @include flex-beetween;
    ul {
      @include flex-end;
      li {
        list-style-type: none;
        margin-left: 30px;
        a {
          @include btn-pre-signup;
          &:hover {
            @include btn-signup;
          }
          img {
            height: 15px;
            width: 15px;
          }
        }
        &:hover {
          @include event-hover;
        }
      }
    }
  }

}
