#section4 {
  background-color: $secondary-bg-color;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  h2 {
    font-size: 40px;
    width: 450px;
    margin: 50px auto;
  }
  #container-section4 {
    position: relative;
    text-align: left;
    margin: 0 auto 20px;
    border: 1px solid #bdb5af;
    border-radius: 7px;
    width: 600px;
    background-color: $main-bg-color;
    padding: 20px;
    #virgolette {
      width: 40px;
      position: absolute;
      top: -22px;
      left: 0;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
      br {
        height: 20px 30px;
      }
    }
    #author {
      @include flex-start;
      img {
        width: 38px;
        margin-right: 10px;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 38px;
        h5 {
          color: #30488f;
          font-size: 14px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .sign-up-with {
    a {
      @include btn-signup;
      font-family: $secondary-font-family;
      font-size: 14px;
      text-decoration: none;
      img {
        height: 15px;
        width: 15px;
      }
      &:hover {
        background-color: #233569;
      }
    }
    span {
      color: #bdb5af;
      margin: 0 10px;
    }
  }
  .or-use {
    display: inline-block;
    text-decoration: none;
    margin: 20px 0;
    &:hover {
      @include event-hover;
      i {
        @include event-hover;
      }
    }
  }
}
