#section3 {
  width: 100%;
  .section3-1 {
    width: 100%;
    margin: 90px 0;
    overflow-x: hidden;
    @include flex-center;
    .img-lato {
      width: 60%;
      img {
        width: 110%;
      }
    }
    .marg-sx {
      margin-left: -15%;
    }
    .marg-dx {
      margin-right: -15%;
    }
    .pd-r {
      padding-right: 12%;
      padding-left: 8%;
    }
    .pd-l {
      padding-left: 16%;
    }
    .text-lato {
      width: 48%;
      font-size: 26px;
      h3 {
        line-height: 33px;
      }
      p {
        line-height: 33px;
        margin: 20px 0;
      }
      a {
        color: #30488F;
        text-decoration: none;
        i {
          color: #30488F;
        }
        &:hover {
          cursor: pointer;
        }
      }
      img {
        display: block;
        margin: 20px auto;
        width: 300px;
      }
    }
  }
}
