@mixin flex-beetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-beetween-start {
  display: flex;
  justify-content: space-between;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin btn-signup {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(48, 72, 143);
}
