// inclusione
@import 'variables';
@import 'common';
@import 'nav';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';

// regole generali
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-family;
  color: $main-text-color;
}

// header
header {
  width: 85%;
  margin: 0 auto;
}

// main
