// FONTS
$main-font-family: 'HarmoniaSansProCyr-SemiBd';

$secondary-font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;

// TEXT-COLOR
$main-text-color: rgb(88, 64, 44);

// background-color
$main-bg-color: white;

$secondary-bg-color: rgb(255, 231, 210);
